*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    /* everything in HTML is recognized as a box
        !important is used to override the default styles of Bootstrap
    */
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carousel-item {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}